openapi: 3.1.0
info:
  title: Encaçapei API
  version: 1.0.0
  summary: API do Encaçapei — ligas, jogatinas e partidas de sinuca entre amigos.
  description: |
    API REST do **Encaçapei**, aplicativo para organizar ligas de sinuca, registrar
    partidas na beira da mesa, gerar rankings e compartilhar o pódio da noite.

    ## Convenções

    - **Datas e horas**: ISO 8601 em **UTC** com sufixo `Z` (`2026-07-15T01:08:22Z`).
    - **Data pura**: `YYYY-MM-DD` (`businessDate`, `startsAt`).
    - **Hora pura**: `HH:mm` 24 h (`schedule.startTime`).
    - **Fuso**: identificador IANA (`America/Sao_Paulo`), nunca offset fixo.
    - **Identificadores**: UUID em `string`.
    - **Percentuais**: número `0.00`–`100.00` com 2 casas. O arredondamento para
      inteiro é responsabilidade do cliente (half-up).
    - **Coleções**: sempre `{ items, meta }`. Recursos únicos vêm sem envelope.
    - **Erros**: RFC 9457 (`application/problem+json`) com `code` estável.

    ## Autenticação

    Bearer JWT (RS256) com vida de **15 minutos**, renovado por refresh token
    opaco de **30 dias** rotacionado a cada uso. Ao receber `401 TOKEN_EXPIRED`,
    o cliente deve chamar `POST /auth/refresh` **uma vez** e repetir a requisição.

    ## Idempotência

    Todo `POST` que cria recurso ou muda estado exige o header `Idempotency-Key`
    (UUID gerado pelo cliente **no momento do toque do usuário**). Retry com a
    mesma chave e o mesmo corpo replica a resposta original com
    `Idempotent-Replay: true`.

    ## Concorrência

    Recursos versionados expõem `ETag` no `GET` e exigem `If-Match` em mutação de
    estado. Divergência retorna `409 CONCURRENT_MODIFICATION` com o estado atual
    no corpo, permitindo reconciliação sem nova leitura.

    ## Documentação completa

    Este arquivo é a especificação executável. A especificação narrativa
    (regras de negócio `RN-*`, decisões pendentes `DP-*`, modelo de dados e
    casos de teste) está nos capítulos 1 a 21 do repositório.
  contact:
    name: Time de Arquitetura — Encaçapei
    email: arquitetura@encacapei.com.br
    url: https://encacapei.com.br
  license:
    name: Proprietária
    identifier: LicenseRef-Proprietary
  termsOfService: https://encacapei.com.br/termos
servers:
  - url: https://api.encacapei.com.br/api/v1
    description: Produção
  - url: https://api-hml.encacapei.com.br/api/v1
    description: Homologação
  - url: https://localhost:5001/api/v1
    description: Desenvolvimento local
security:
  - bearerAuth: []
tags:
  - name: App
    description: Configuração remota e health check.
  - name: Auth
    description: Cadastro, login, tokens, verificação de e-mail e senha.
  - name: Users
    description: Perfil, avatar, busca de usuários, estatísticas e ciclo de vida da conta.
  - name: Friendships
    description: Convites de amizade, lista de amigos e confronto direto.
  - name: Leagues
    description: Ligas, regras, calendário, ranking e histórico.
  - name: LeagueMembers
    description: Membros, papéis, entrada e saída de liga.
  - name: Invitations
    description: Convites nominais e códigos de convite de liga.
  - name: PlaySessions
    description: Jogatinas (o dia de jogo) e pódio diário.
  - name: Matches
    description: Partidas, eventos de bola, finalização, cancelamento e correção.
  - name: Rankings
    description: Consulta de reprocessamento de ranking.
  - name: Venues
    description: Catálogo de locais e busca por proximidade.
  - name: Notifications
    description: Caixa de entrada in-app, preferências e devices de push.
  - name: Sharing
    description: Resumo da jogatina, card compartilhável e link público.
externalDocs:
  description: Especificação técnica completa (capítulos 1–21)
  url: https://encacapei.com.br/docs/backend-spec
paths:
  /app/bootstrap:
    get:
      operationId: getAppBootstrap
      summary: Configuração remota do aplicativo
      description: |
        Chamado na splash. Devolve versão mínima suportada, modo de manutenção,
        versões de termos e as **feature flags** que materializam as decisões
        pendentes — o app esconde o chip "Duplas" enquanto `teamMatches = false`,
        em vez de mostrar uma opção que o backend rejeita.
      tags:
        - App
      security: []
      parameters:
        - $ref: '#/components/parameters/AppVersion'
      responses:
        '200':
          description: Configuração atual.
          headers:
            Cache-Control:
              schema:
                type: string
              example: public, max-age=300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBootstrap'
              example:
                minSupportedVersion:
                  ios: 1.0.0
                  android: 1.0.0
                latestVersion:
                  ios: 1.0.0
                  android: 1.0.0
                forceUpdate: false
                maintenanceMode: false
                maintenanceEndsAt: null
                termsVersion: '2026-06-01'
                privacyPolicyVersion: '2026-06-01'
                urls:
                  terms: https://encacapei.com.br/termos
                  privacy: https://encacapei.com.br/privacidade
                  support: https://encacapei.com.br/suporte
                features:
                  teamMatches: false
                  pushNotifications: false
                  shareImageGeneration: false
                  venueReviews: false
                  publicLeagueJoin: true
                serverTime: '2026-07-14T22:58:00Z'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /health/live:
    get:
      operationId: getHealthLive
      summary: Liveness probe
      description: Verifica apenas se o processo está no ar. Não toca em dependências.
      tags:
        - App
      security: []
      responses:
        '200':
          description: Processo saudável.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              example:
                status: Healthy
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /health/ready:
    get:
      operationId: getHealthReady
      summary: Readiness probe
      description: Verifica banco de dados e cache. Usado pelo load balancer.
      tags:
        - App
      security: []
      responses:
        '200':
          description: Pronto para receber tráfego.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              example:
                status: Healthy
                checks:
                  - name: postgresql
                    status: Healthy
                    durationMs: 3.1
                  - name: redis
                    status: Healthy
                    durationMs: 0.8
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /auth/register:
    post:
      operationId: register
      summary: Cadastrar usuário (conclusão do wizard de 6 etapas)
      description: |
        Cria a conta, emite tokens e dispara o e-mail de verificação. As 6 etapas são
        de UI; o servidor recebe o payload completo numa **única transação** — não
        existe usuário parcialmente criado (RN-AUTH-006).

        **Anti-enumeração (DP-030):** se o e-mail já existir, a resposta é `202` com
        `{"status":"VERIFICATION_SENT"}` e um e-mail informando a tentativa — nunca
        `409 EMAIL_TAKEN`, que revelaria a base.
      tags:
        - Auth
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/AppVersion'
        - $ref: '#/components/parameters/AcceptLanguage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              complete:
                summary: Cadastro completo
                value:
                  fullName: Rodrigo Baroni
                  username: baroni
                  email: rodrigo.baroni@email.com
                  password: Sinuca@2026
                  acceptedTermsVersion: '2026-06-01'
                  timezone: America/Sao_Paulo
                  locale: pt-BR
                  deviceInfo:
                    deviceId: b1c2d3e4-f5a6-4b7c-8d9e-000000000001
                    deviceName: iPhone 15 de Rodrigo
                    platform: IOS
      responses:
        '201':
          description: Conta criada; tokens emitidos.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Cache-Control:
              schema:
                type: string
              example: no-store
            Idempotent-Replay:
              $ref: '#/components/headers/IdempotentReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
              example:
                accessToken: eyJhbGciOiJSUzI1NiIsImtpZCI6ImVuYy0yMDI2LTAzIn0.eyJzdWIiOiIxMTExMTExMS0xMTExLTQxMTEtODExMS0xMTExMTExMTExMTEifQ.mS4k
                refreshToken: v1.MWY0YTNiMmMtOGQ5ZS00ZjcwLTgxMmItMDAwMDAwMDAwMDAx.7Rq2xK9mZ0pL
                tokenType: Bearer
                expiresIn: 900
                refreshExpiresIn: 2592000
                user:
                  id: 11111111-1111-4111-8111-111111111111
                  username: baroni
                  displayName: Rodrigo Baroni
                  email: rodrigo.baroni@email.com
                  avatarUrl: null
                  initials: RB
                  avatarColor: '#C1E778'
                  status: PENDING_VERIFICATION
                  emailVerified: false
                  memberSince: '2026-07-27'
                  timezone: America/Sao_Paulo
                  locale: pt-BR
                  profileVisibility: FRIENDS_ONLY
                  searchableByUsername: true
                  createdAt: '2026-07-27T18:30:00Z'
                  updatedAt: '2026-07-27T18:30:00Z'
                  version: 1
        '202':
          description: E-mail já cadastrado — resposta indistinguível de sucesso (anti-enumeração).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: VERIFICATION_SENT
                  message:
                    type: string
              example:
                status: VERIFICATION_SENT
                message: Enviamos um e-mail com as instruções.
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
  /auth/login:
    post:
      operationId: login
      summary: Autenticar por e-mail e senha
      description: |
        Resposta única (`401 INVALID_CREDENTIALS`) para e-mail inexistente, senha
        errada **ou** conta bloqueada, com tempo de resposta normalizado
        (RN-AUTH-015). Conta `DEACTIVATED` é **reativada** automaticamente.
      tags:
        - Auth
      security: []
      parameters:
        - $ref: '#/components/parameters/AppVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              login:
                value:
                  email: rodrigo.baroni@email.com
                  password: Sinuca@2026
                  deviceInfo:
                    deviceId: b1c2d3e4-f5a6-4b7c-8d9e-000000000001
                    deviceName: iPhone 15 de Rodrigo
                    platform: IOS
      responses:
        '200':
          description: Autenticado.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/refresh:
    post:
      operationId: refreshTokens
      summary: Renovar par de tokens
      description: |
        O refresh token é **rotacionado a cada uso**. Reapresentar um token já
        rotacionado indica roubo: **toda a família de sessão é revogada**
        (RN-AUTH-014).

        O cliente deve **serializar** refreshes concorrentes — três chamadas
        simultâneas derrubariam a sessão.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            examples:
              refresh:
                value:
                  refreshToken: v1.MWY0YTNiMmMtOGQ5ZS00ZjcwLTgxMmItMDAwMDAwMDAwMDAx.7Rq2xK9mZ0pL
      responses:
        '200':
          description: Novo par emitido; o token anterior foi revogado.
          headers:
            Cache-Control:
              schema:
                type: string
              example: no-store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
              example:
                accessToken: eyJhbGciOiJSUzI1NiIsImtpZCI6ImVuYy0yMDI2LTAzIn0.eyJzdWIiOiIxMTExMTExMS0xMTExLTQxMTEtODExMS0xMTExMTExMTExMTEiLCJleHAiOjE3ODQxNTE1MDB9.Xa9
                refreshToken: v1.NGE1YjZjN2QtOGU5Zi00MDAxLTgyM2MtMDAwMDAwMDAwMDAy.Kp8mQ2vN4tR
                tokenType: Bearer
                expiresIn: 900
                refreshExpiresIn: 2592000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/logout:
    post:
      operationId: logout
      summary: Encerrar sessão
      description: |
        Revoga a sessão corrente (ou todas com `allSessions=true`), coloca o `jti`
        do access token na denylist e desregistra o device de push.
      tags:
        - Auth
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
            examples:
              single:
                summary: Sessão atual
                value:
                  refreshToken: v1.NGE1YjZjN2QtOGU5Zi00MDAxLTgyM2MtMDAwMDAwMDAwMDAy.Kp8mQ2vN4tR
                  allSessions: false
              all:
                summary: Todas as sessões
                value:
                  allSessions: true
      responses:
        '204':
          description: Sessão encerrada.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/password/forgot:
    post:
      operationId: requestPasswordReset
      summary: Solicitar recuperação de senha
      description: |
        Responde **sempre `202`**, com o mesmo tempo de resposta, exista ou não a
        conta (RN-AUTH-010). O token do e-mail vale **30 minutos** e é de uso único.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordForgotRequest'
            examples:
              forgot:
                value:
                  email: rodrigo.baroni@email.com
      responses:
        '202':
          description: Solicitação aceita (resposta idêntica para e-mail existente ou não).
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    const: ACCEPTED
                  message:
                    type: string
              example:
                status: ACCEPTED
                message: Se existir uma conta com esse e-mail, enviaremos as instruções em instantes.
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/password/reset:
    post:
      operationId: resetPassword
      summary: Redefinir senha com token
      description: Troca a senha e **revoga todas as sessões** do usuário (RN-AUTH-011).
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
            examples:
              reset:
                value:
                  token: rst_9f8e7d6c5b4a43928180000000000001
                  newPassword: NovaSinuca@2026
      responses:
        '200':
          description: Senha alterada; sessões revogadas.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - sessionsRevoked
                properties:
                  status:
                    type: string
                    const: PASSWORD_RESET
                  sessionsRevoked:
                    type: integer
                  message:
                    type: string
              example:
                status: PASSWORD_RESET
                sessionsRevoked: 3
                message: Senha alterada. Faça login novamente.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '410':
          $ref: '#/components/responses/Gone'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/password/change:
    post:
      operationId: changePassword
      summary: Alterar senha (autenticado)
      description: |
        Exige a senha atual. Revoga todas as **outras** sessões, mantendo a corrente
        quando `keepCurrentSession = true` (RN-AUTH-012).
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordChangeRequest'
            examples:
              change:
                value:
                  currentPassword: Sinuca@2026
                  newPassword: OutraSinuca@2027
                  keepCurrentSession: true
      responses:
        '200':
          description: Senha alterada.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - sessionsRevoked
                  - changedAt
                properties:
                  status:
                    type: string
                    const: PASSWORD_CHANGED
                  sessionsRevoked:
                    type: integer
                  changedAt:
                    type: string
                    format: date-time
              example:
                status: PASSWORD_CHANGED
                sessionsRevoked: 2
                changedAt: '2026-07-27T18:35:41Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/email/verify:
    post:
      operationId: verifyEmail
      summary: Verificar e-mail
      description: Token de uso único com validade de 24 h. Ativa a conta (`status = ACTIVE`).
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            examples:
              verify:
                value:
                  token: evt_2b3c4d5e6f7048129a34000000000001
      responses:
        '200':
          description: E-mail verificado.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - userId
                  - verifiedAt
                properties:
                  status:
                    type: string
                    const: EMAIL_VERIFIED
                  userId:
                    $ref: '#/components/schemas/Uuid'
                  verifiedAt:
                    type: string
                    format: date-time
              example:
                status: EMAIL_VERIFIED
                userId: 11111111-1111-4111-8111-111111111111
                verifiedAt: '2026-07-27T18:41:03Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
  /auth/email/verify/resend:
    post:
      operationId: resendEmailVerification
      summary: Reenviar e-mail de verificação
      description: Limitado a 1 por minuto e 5 por dia.
      tags:
        - Auth
      responses:
        '202':
          description: Reenvio agendado.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    const: ACCEPTED
                  nextResendAvailableAt:
                    type: string
                    format: date-time
              example:
                status: ACCEPTED
                nextResendAvailableAt: '2026-07-27T18:42:03Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/username-available:
    get:
      operationId: checkUsernameAvailability
      summary: Verificar disponibilidade de username
      description: |
        Usado na etapa 2 do cadastro e na edição de perfil. Revela existência de
        **username** (público por design na UI), nunca de e-mail. Rate limit de 20/min.
      tags:
        - Users
      security: []
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 20
            pattern: ^[a-z0-9_.]+$
          example: baroni
      responses:
        '200':
          description: Resultado da verificação.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameAvailability'
              examples:
                taken:
                  value:
                    username: baroni
                    available: false
                    reason: TAKEN
                    suggestions:
                      - baroni1
                      - baroni_sinuca
                      - rbaroni
                available:
                  value:
                    username: baroni_sinuca
                    available: true
                    reason: null
                    suggestions: []
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users:
    get:
      operationId: searchUsers
      summary: Buscar usuários
      description: |
        Busca por `username` e `displayName` (trigram, acentos normalizados).
        **Nunca** retorna e-mail nem permite busca por e-mail (RN-PRIV-007).
        Respeita `searchableByUsername`.

        `relationship.status` decide o botão do card: `Adicionar` / `Pendente` /
        `Aceitar` / `Amigos`.
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: excludeFriends
          in: query
          schema:
            type: boolean
            default: false
        - name: leagueId
          in: query
          description: Restringe a membros da liga (usado na seleção de adversário).
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resultados da busca.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSearchResult'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaCursor'
              example:
                items:
                  - id: 66666666-6666-4666-8666-666666666666
                    username: carlosmota
                    displayName: Carlos Mota
                    avatarUrl: null
                    initials: CA
                    avatarColor: '#c8b6ff'
                    relationship:
                      status: REQUEST_RECEIVED
                      friendRequestId: 9f8e7d6c-5b4a-4392-8180-000000000001
                      canSendRequest: false
                    mutualLeaguesCount: 0
                    mutualFriendsCount: 2
                meta:
                  totalItems: 1
                  pageSize: 20
                  hasMore: false
                  nextCursor: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /users/{userId}:
    get:
      operationId: getUser
      summary: Consultar perfil público de outro usuário
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: Perfil público.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUser'
              example:
                id: 22222222-2222-4222-8222-222222222222
                username: joaop
                displayName: João Pereira
                avatarUrl: https://cdn.encacapei.com.br/avatars/22222222-2222-4222-8222-222222222222/256.webp
                initials: JO
                avatarColor: '#8ecae6'
                memberSince: '2025-03-08'
                relationship:
                  status: FRIENDS
                  friendsSince: '2025-04-02T19:22:00Z'
                sharedLeagues:
                  - id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                    name: Liga da Terça
                  - id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                    name: Ranking do Bar do Zé
                statisticsVisible: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/{userId}/statistics:
    get:
      operationId: getUserStatistics
      summary: Consultar estatísticas de outro usuário
      description: |
        Respeita `profileVisibility`. **Exceção:** dentro de uma liga em comum,
        V/D/% daquela liga são sempre visíveis — é o próprio ranking (RN-USER-008).
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - $ref: '#/components/parameters/PeriodFilter'
        - name: leagueId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Estatísticas do usuário.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatistics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /me:
    get:
      operationId: getMe
      summary: Consultar perfil autenticado
      description: |
        Com `include=statistics,counters`, entrega em **uma chamada** tudo que a Home
        precisa: perfil, os 4 KPIs e os badges de notificação e convites.
      tags:
        - Users
      parameters:
        - name: include
          in: query
          description: Projeções adicionais, separadas por vírgula.
          schema:
            type: string
          example: statistics,counters
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Perfil do usuário autenticado.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeProfile'
              example:
                id: 11111111-1111-4111-8111-111111111111
                username: baroni
                displayName: Rodrigo Baroni
                email: rodrigo.baroni@email.com
                avatarUrl: null
                initials: RB
                avatarColor: '#C1E778'
                status: ACTIVE
                emailVerified: true
                memberSince: '2025-01-14'
                timezone: America/Sao_Paulo
                locale: pt-BR
                profileVisibility: FRIENDS_ONLY
                searchableByUsername: true
                shareStatsPublicly: false
                locationConsentGrantedAt: '2026-03-02T14:20:00Z'
                createdAt: '2025-01-14T22:10:00Z'
                updatedAt: '2026-07-20T11:05:33Z'
                version: 3
                statistics:
                  matchesPlayed: 47
                  wins: 29
                  losses: 18
                  winRate: 61.7
                  currentWinStreak: 5
                  longestWinStreak: 7
                  currentLossStreak: 0
                  longestLossStreak: 2
                  sessionsPlayed: 14
                  podiumFirsts: 6
                  lastMatchAt: '2026-07-15T01:08:22Z'
                counters:
                  unreadNotifications: 3
                  pendingFriendRequests: 2
                  pendingLeagueInvitations: 1
                  activeLeagues: 2
                  activeMatchId: null
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateMe
      summary: Editar perfil
      description: |
        Atualização parcial com optimistic locking. Campos `id`, `email`, `status`,
        `createdAt` e `version` são **ignorados** se enviados (proteção contra mass
        assignment). Trocar de e-mail é fluxo próprio, pós-MVP.
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMeRequest'
            examples:
              update:
                value:
                  displayName: Rodrigo Baroni
                  username: baroni
                  profileVisibility: FRIENDS_ONLY
      responses:
        '200':
          description: Perfil atualizado.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
    delete:
      operationId: deleteMe
      summary: Excluir conta (LGPD)
      description: |
        Agenda **anonimização em 30 dias**. Login dentro do prazo cancela a exclusão.
        O histórico de partidas é preservado de forma anonimizada, para não destruir o
        ranking dos demais jogadores (RN-USER-007).
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
            examples:
              delete:
                value:
                  password: Sinuca@2026
                  confirmation: EXCLUIR MINHA CONTA
                  reason: Não jogo mais sinuca
      responses:
        '202':
          description: Exclusão agendada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccountResponse'
              example:
                status: DELETION_SCHEDULED
                scheduledFor: '2026-08-26T18:52:00Z'
                cancelBy: '2026-08-26T18:52:00Z'
                message: Sua conta será anonimizada em 30 dias. Faça login antes disso para cancelar.
                dataRetentionNotice: Seu histórico de partidas será mantido de forma anonimizada para preservar o ranking dos demais jogadores.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
  /me/avatar:
    put:
      operationId: confirmAvatar
      summary: Confirmar upload de avatar
      description: |
        Valida **magic bytes** (não a extensão), remove todo EXIF — inclusive GPS
        (RN-PRIV-002) —, gera derivadas 256×256 e 64×64 em WebP e publica no CDN.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmAvatarRequest'
            examples:
              confirm:
                value:
                  uploadToken: upl_6f2a9c1b8d3e4f5a9b0c1d2e3f4a5b6c
      responses:
        '200':
          description: Avatar publicado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
              example:
                avatarUrl: https://cdn.encacapei.com.br/avatars/11111111-1111-4111-8111-111111111111/256.webp
                thumbnailUrl: https://cdn.encacapei.com.br/avatars/11111111-1111-4111-8111-111111111111/64.webp
                updatedAt: '2026-07-27T18:44:12Z'
                version: 5
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteAvatar
      summary: Remover avatar
      description: Volta a exibir as iniciais sobre `avatarColor`.
      tags:
        - Users
      responses:
        '204':
          description: Avatar removido.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/avatar/upload-url:
    post:
      operationId: requestAvatarUploadUrl
      summary: Obter URL assinada para upload de avatar
      description: |
        Devolve um SAS de escrita com TTL de 10 minutos. O app faz `PUT` **direto no
        Blob** — não passa 5 MB pelo backend em 4G de bar — e depois confirma com
        `PUT /me/avatar`.
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvatarUploadUrlRequest'
            examples:
              jpeg:
                value:
                  contentType: image/jpeg
                  contentLength: 842113
      responses:
        '200':
          description: URL de upload emitida.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarUploadUrl'
              example:
                uploadUrl: https://stlftmencacapeiprd.blob.core.windows.net/avatars-staging/11111111-1111-4111-8111-111111111111/6f2a9c1b.jpg?sv=2024-11-04&se=2026-07-27T18%3A45%3A00Z&sp=cw&sig=REDACTED
                uploadToken: upl_6f2a9c1b8d3e4f5a9b0c1d2e3f4a5b6c
                method: PUT
                requiredHeaders:
                  x-ms-blob-type: BlockBlob
                  Content-Type: image/jpeg
                expiresAt: '2026-07-27T18:45:00Z'
                maxBytes: 5242880
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /me/statistics:
    get:
      operationId: getMyStatistics
      summary: Estatísticas do usuário autenticado (KPIs da Home)
      description: |
        Mapeamento direto para os 4 cartões da Home:
        `matchesPlayed` → "Partidas jogadas" · `winRate` → "Taxa de vitória"
        · `currentWinStreak` → "Vitórias consecutivas" · `longestLossStreak` →
        "Maiores derrotas" (DP-016b).
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/PeriodFilter'
        - name: leagueId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Estatísticas agregadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatistics'
              example:
                period: ALL_TIME
                leagueId: null
                matchesPlayed: 47
                wins: 29
                losses: 18
                winRate: 61.7
                currentWinStreak: 5
                longestWinStreak: 7
                currentLossStreak: 0
                longestLossStreak: 2
                sessionsPlayed: 14
                podiumFirsts: 6
                podiums:
                  first: 6
                  second: 4
                  third: 2
                ballsPocketedTotal: 213
                averageMatchDurationSeconds: 1284
                firstMatchAt: '2025-01-21T23:14:00Z'
                lastMatchAt: '2026-07-15T01:08:22Z'
                computedAt: '2026-07-27T18:30:05Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/statistics/timeseries:
    get:
      operationId: getMyStatisticsTimeSeries
      summary: Séries temporais (gráficos de evolução da Home)
      description: |
        Dois gráficos do expander "Gráficos de evolução":

        - `metric=WIN_RATE&period=LAST_30_DAYS&granularity=DAY` — taxa de vitória
          **acumulada** (a curva suave do mockup; taxa diária seria um serrote — DP-031).
        - `metric=WINS_LOSSES&period=LAST_4_WEEKS&granularity=WEEK` — barras pareadas
          com `label` "Sem 1".."Sem 4" gerado pelo servidor.

        Agrupamento sempre no fuso do **usuário**. Semanas ISO-8601 (segunda a domingo).
      tags:
        - Users
      parameters:
        - name: metric
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/StatisticMetric'
        - $ref: '#/components/parameters/PeriodFilter'
        - name: granularity
          in: query
          schema:
            $ref: '#/components/schemas/Granularity'
        - name: leagueId
          in: query
          schema:
            type: string
            format: uuid
        - name: fillGaps
          in: query
          description: Preenche dias sem jogo, para a linha não ter buracos.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Série temporal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeries'
              examples:
                winRate30d:
                  summary: Taxa de vitória — últimos 30 dias
                  value:
                    metric: WIN_RATE
                    period: LAST_30_DAYS
                    granularity: DAY
                    timezone: America/Sao_Paulo
                    from: '2026-06-28'
                    to: '2026-07-27'
                    unit: PERCENT
                    points:
                      - bucket: '2026-06-30'
                        date: '2026-06-30'
                        value: 50
                        matchesPlayed: 3
                      - bucket: '2026-07-07'
                        date: '2026-07-07'
                        value: 55.56
                        matchesPlayed: 5
                      - bucket: '2026-07-14'
                        date: '2026-07-14'
                        value: 61.7
                        matchesPlayed: 4
                    summary:
                      first: 50
                      last: 61.7
                      change: 11.7
                      trend: UP
                winsLosses4w:
                  summary: Vitórias e derrotas por semana
                  value:
                    metric: WINS_LOSSES
                    period: LAST_4_WEEKS
                    granularity: WEEK
                    timezone: America/Sao_Paulo
                    from: '2026-06-29'
                    to: '2026-07-26'
                    unit: COUNT
                    points:
                      - bucket: 2026-W27
                        weekStart: '2026-06-29'
                        weekEnd: '2026-07-05'
                        label: Sem 1
                        wins: 5
                        losses: 3
                      - bucket: 2026-W28
                        weekStart: '2026-07-06'
                        weekEnd: '2026-07-12'
                        label: Sem 2
                        wins: 4
                        losses: 4
                      - bucket: 2026-W29
                        weekStart: '2026-07-13'
                        weekEnd: '2026-07-19'
                        label: Sem 3
                        wins: 6
                        losses: 2
                      - bucket: 2026-W30
                        weekStart: '2026-07-20'
                        weekEnd: '2026-07-26'
                        label: Sem 4
                        wins: 5
                        losses: 2
                    summary:
                      totalWins: 20
                      totalLosses: 11
                      winRate: 64.52
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /me/active-match:
    get:
      operationId: getMyActiveMatch
      summary: Partida em andamento do usuário
      description: |
        Permite retomar a partida após fechar o app no meio dela (RN-MATCH-020).
        Devolve `204` quando não há nenhuma.
      tags:
        - Users
        - Matches
      responses:
        '200':
          description: Partida em andamento.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '204':
          description: Nenhuma partida em andamento.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /me/deactivate:
    post:
      operationId: deactivateAccount
      summary: Desativar conta
      description: |
        Esconde o perfil das buscas, revoga sessões e cancela convites enviados.
        **Mantém** ligas e histórico. Qualquer login reativa a conta.
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateAccountRequest'
            examples:
              deactivate:
                value:
                  password: Sinuca@2026
                  reason: Preciso de uma pausa
      responses:
        '200':
          description: Conta desativada.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - deactivatedAt
                properties:
                  status:
                    type: string
                    const: DEACTIVATED
                  deactivatedAt:
                    type: string
                    format: date-time
                  reactivationHint:
                    type: string
              example:
                status: DEACTIVATED
                deactivatedAt: '2026-07-27T18:50:00Z'
                reactivationHint: Faça login novamente a qualquer momento para reativar sua conta.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
  /me/data-exports:
    post:
      operationId: requestDataExport
      summary: Solicitar exportação de dados (LGPD)
      description: |
        Gera ZIP com JSON + CSV. Dados de **terceiros são pseudonimizados**
        ("Jogador A") para não entregar dado pessoal de outro titular. Link com TTL de 72 h.
      tags:
        - Users
      responses:
        '202':
          description: Exportação agendada.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExport'
              example:
                id: e1f2a3b4-c5d6-4e7f-8a9b-000000000001
                status: PENDING
                requestedAt: '2026-07-27T18:55:00Z'
                estimatedReadyAt: '2026-07-27T19:05:00Z'
                statusUrl: /api/v1/me/data-exports/e1f2a3b4-c5d6-4e7f-8a9b-000000000001
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /me/data-exports/{exportId}:
    get:
      operationId: getDataExport
      summary: Consultar status da exportação
      tags:
        - Users
      parameters:
        - name: exportId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: e1f2a3b4-c5d6-4e7f-8a9b-000000000001
      responses:
        '200':
          description: Status da exportação.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataExport'
              example:
                id: e1f2a3b4-c5d6-4e7f-8a9b-000000000001
                status: READY
                fileUrl: https://stlftmencacapeiprd.blob.core.windows.net/exports/e1f2a3b4.zip?se=2026-07-30T19%3A05%3A00Z&sig=REDACTED
                fileSizeBytes: 184320
                format: ZIP
                contents:
                  - profile.json
                  - matches.csv
                  - leagues.json
                  - friendships.json
                  - statistics.json
                  - notifications.json
                  - audit.json
                  - README.txt
                requestedAt: '2026-07-27T18:55:00Z'
                completedAt: '2026-07-27T19:01:12Z'
                expiresAt: '2026-07-30T19:01:12Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
  /me/friends:
    get:
      operationId: listFriends
      summary: Listar amigos
      description: Aba "Seus amigos". O parâmetro `q` alimenta o campo "Buscar amigos...".
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - displayName
              - -displayName
              - createdAt
              - -createdAt
            default: displayName
        - name: include
          in: query
          schema:
            type: string
          example: headToHead
      responses:
        '200':
          description: Lista de amigos.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Friend'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaOffset'
              example:
                items:
                  - id: 44444444-4444-4444-8444-444444444444
                    username: ander
                    displayName: Anderson Lima
                    avatarUrl: null
                    initials: AN
                    avatarColor: '#e9c46a'
                    friendshipId: 6d5c4b3a-2918-4706-85f4-000000000003
                    friendsSince: '2025-06-11T20:05:00Z'
                    mutualLeaguesCount: 1
                    lastPlayedAt: '2026-07-15T00:45:31Z'
                  - id: 33333333-3333-4333-8333-333333333333
                    username: felipao
                    displayName: Felipe Costa
                    avatarUrl: https://cdn.encacapei.com.br/avatars/33333333-3333-4333-8333-333333333333/256.webp
                    initials: FE
                    avatarColor: '#f4a261'
                    friendshipId: 6d5c4b3a-2918-4706-85f4-000000000002
                    friendsSince: '2025-02-19T21:40:00Z'
                    mutualLeaguesCount: 2
                    lastPlayedAt: '2026-07-15T00:33:56Z'
                  - id: 22222222-2222-4222-8222-222222222222
                    username: joaop
                    displayName: João Pereira
                    avatarUrl: https://cdn.encacapei.com.br/avatars/22222222-2222-4222-8222-222222222222/256.webp
                    initials: JO
                    avatarColor: '#8ecae6'
                    friendshipId: 6d5c4b3a-2918-4706-85f4-000000000001
                    friendsSince: '2025-04-02T19:22:00Z'
                    mutualLeaguesCount: 2
                    lastPlayedAt: '2026-07-15T01:08:22Z'
                  - id: 55555555-5555-4555-8555-555555555555
                    username: marcao
                    displayName: Marcos Silva
                    avatarUrl: null
                    initials: MA
                    avatarColor: '#c8b6ff'
                    friendshipId: 6d5c4b3a-2918-4706-85f4-000000000004
                    friendsSince: '2025-09-30T22:15:00Z'
                    mutualLeaguesCount: 1
                    lastPlayedAt: '2026-07-08T01:12:30Z'
                meta:
                  totalItems: 4
                  page: 1
                  pageSize: 50
                  totalPages: 1
                  hasMore: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /me/friends/{userId}:
    delete:
      operationId: removeFriend
      summary: Remover amizade
      description: |
        Unilateral e silencioso. **Não** remove de ligas, **não** apaga histórico de
        partidas e **não** notifica (RN-FRIEND-009). O head-to-head continua acessível
        se houver liga em comum.
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '204':
          description: Amizade removida.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/friend-requests:
    get:
      operationId: listFriendRequests
      summary: Listar convites de amizade
      description: |
        `meta.totalItems` é a fonte do **badge vermelho** na aba "Convites" — não é
        preciso um endpoint de contagem separado.
      tags:
        - Friendships
      parameters:
        - name: direction
          in: query
          schema:
            $ref: '#/components/schemas/RequestDirection'
        - name: status
          in: query
          description: Lista separada por vírgula.
          schema:
            type: string
            default: PENDING
          example: PENDING
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Convites de amizade.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FriendRequest'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaCursor'
              example:
                items:
                  - id: 9f8e7d6c-5b4a-4392-8180-000000000001
                    direction: INCOMING
                    status: PENDING
                    user:
                      id: 66666666-6666-4666-8666-666666666666
                      username: carlosmota
                      displayName: Carlos Mota
                      avatarUrl: null
                      initials: CA
                      avatarColor: '#c8b6ff'
                    message: null
                    mutualFriendsCount: 2
                    createdAt: '2026-07-27T13:30:00Z'
                    expiresAt: null
                  - id: 9f8e7d6c-5b4a-4392-8180-000000000002
                    direction: INCOMING
                    status: PENDING
                    user:
                      id: 77777777-7777-4777-8777-777777777777
                      username: pedronunes
                      displayName: Pedro Nunes
                      avatarUrl: null
                      initials: PE
                      avatarColor: '#8ecae6'
                    message: null
                    mutualFriendsCount: 1
                    createdAt: '2026-07-26T22:14:00Z'
                    expiresAt: null
                meta:
                  totalItems: 2
                  pageSize: 20
                  hasMore: false
                  nextCursor: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /friend-requests:
    post:
      operationId: sendFriendRequest
      summary: Enviar convite de amizade
      description: |
        Se já existir convite pendente **no sentido inverso**, a amizade é criada
        automaticamente e a resposta é `200` com `autoAccepted: true` (RN-FRIEND-004).
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFriendRequest'
            examples:
              byId:
                summary: Por ID
                value:
                  userId: 66666666-6666-4666-8666-666666666666
              byUsername:
                summary: Por username
                value:
                  username: carlosmota
      responses:
        '200':
          description: Amizade criada automaticamente (havia convite recíproco pendente).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequest'
              example:
                id: 9f8e7d6c-5b4a-4392-8180-000000000001
                direction: INCOMING
                status: ACCEPTED
                autoAccepted: true
                user:
                  id: 66666666-6666-4666-8666-666666666666
                  username: carlosmota
                  displayName: Carlos Mota
                  initials: CA
                  avatarColor: '#c8b6ff'
                createdAt: '2026-07-27T13:30:00Z'
                friendship:
                  id: 6d5c4b3a-2918-4706-85f4-000000000005
                  createdAt: '2026-07-27T19:00:00Z'
        '201':
          description: Convite criado.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            Idempotent-Replay:
              $ref: '#/components/headers/IdempotentReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequest'
              example:
                id: 9f8e7d6c-5b4a-4392-8180-000000000010
                direction: OUTGOING
                status: PENDING
                user:
                  id: 66666666-6666-4666-8666-666666666666
                  username: carlosmota
                  displayName: Carlos Mota
                  avatarUrl: null
                  initials: CA
                  avatarColor: '#c8b6ff'
                createdAt: '2026-07-27T19:00:00Z'
                expiresAt: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /friend-requests/{requestId}:
    delete:
      operationId: cancelFriendRequest
      summary: Cancelar convite enviado
      description: |
        Somente o **remetente**. O destinatário deve usar `decline` — para ele este
        endpoint retorna `404`. Apaga a notificação pendente do destinatário.
      tags:
        - Friendships
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 9f8e7d6c-5b4a-4392-8180-000000000010
      responses:
        '204':
          description: Convite cancelado.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /friend-requests/{requestId}/accept:
    post:
      operationId: acceptFriendRequest
      summary: Aceitar convite de amizade
      description: Somente o **destinatário**. Cria a amizade e notifica o remetente.
      tags:
        - Friendships
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 9f8e7d6c-5b4a-4392-8180-000000000001
      responses:
        '200':
          description: Convite aceito; amizade criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequestResponse'
              example:
                requestId: 9f8e7d6c-5b4a-4392-8180-000000000001
                status: ACCEPTED
                respondedAt: '2026-07-27T19:05:00Z'
                friendship:
                  id: 6d5c4b3a-2918-4706-85f4-000000000005
                  createdAt: '2026-07-27T19:05:00Z'
                  friend:
                    id: 66666666-6666-4666-8666-666666666666
                    username: carlosmota
                    displayName: Carlos Mota
                    avatarUrl: null
                    initials: CA
                    avatarColor: '#c8b6ff'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /friend-requests/{requestId}/decline:
    post:
      operationId: declineFriendRequest
      summary: Recusar convite de amizade
      description: '**Não notifica** o remetente (RN-FRIEND-007 — proteção social).'
      tags:
        - Friendships
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 9f8e7d6c-5b4a-4392-8180-000000000002
      responses:
        '200':
          description: Convite recusado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FriendRequestResponse'
              example:
                requestId: 9f8e7d6c-5b4a-4392-8180-000000000002
                status: DECLINED
                respondedAt: '2026-07-27T19:06:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /me/head-to-head/{userId}:
    get:
      operationId: getHeadToHead
      summary: Confronto direto com um adversário
      description: |
        Placar agregado e taxa de aproveitamento. Permitido a amigos **ou** a quem
        tem ao menos uma partida/liga em comum.

        `byLeague` popula o filtro de liga da tela, evitando um segundo request.
        O filtro de **período nunca é materializado** — é sempre agregado sob demanda.
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - name: leagueId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PeriodFilter'
        - $ref: '#/components/parameters/FromFilter'
        - $ref: '#/components/parameters/ToFilter'
      responses:
        '200':
          description: Agregado do confronto.
          headers:
            Cache-Control:
              schema:
                type: string
              example: private, max-age=60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeadToHead'
              example:
                opponent:
                  id: 22222222-2222-4222-8222-222222222222
                  username: joaop
                  displayName: João Pereira
                  avatarUrl: https://cdn.encacapei.com.br/avatars/22222222-2222-4222-8222-222222222222/256.webp
                  initials: JO
                  avatarColor: '#8ecae6'
                filters:
                  leagueId: null
                  period: ALL_TIME
                  from: null
                  to: null
                summary:
                  myWins: 5
                  opponentWins: 3
                  totalMatches: 8
                  myWinRate: 62.5
                  opponentWinRate: 37.5
                  sessionsPlayed: 4
                  currentStreak:
                    holder: ME
                    count: 1
                  longestStreak:
                    holder: ME
                    count: 2
                  lastMatch:
                    id: 3f4a5b6c-7d8e-4f90-8a1b-000000000009
                    winnerUserId: 11111111-1111-4111-8111-111111111111
                    finishedAt: '2026-07-15T01:08:22Z'
                    leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                    leagueName: Liga da Terça
                  firstMatchAt: '2025-04-15T23:40:00Z'
                byLeague:
                  - leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                    leagueName: Liga da Terça
                    myWins: 3
                    opponentWins: 3
                    totalMatches: 6
                  - leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                    leagueName: Ranking do Bar do Zé
                    myWins: 2
                    opponentWins: 0
                    totalMatches: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /me/head-to-head/{userId}/sessions:
    get:
      operationId: getHeadToHeadSessions
      summary: Confronto direto agrupado por jogatina
      description: |
        A lista "Dias de jogatina" agrega por **dia**, não por partida. `outcome`
        é derivado no servidor e define a cor do badge.
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
        - name: leagueId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PeriodFilter'
        - $ref: '#/components/parameters/FromFilter'
        - $ref: '#/components/parameters/ToFilter'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Jogatinas em que os dois se enfrentaram.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HeadToHeadSession'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaCursor'
              example:
                items:
                  - playSessionId: 7c8d9e0f-1a2b-4c3d-8e4f-000000000001
                    businessDate: '2026-07-14'
                    league:
                      id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                      name: Liga da Terça
                    venue:
                      id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                      name: Bar do Zé
                    myWins: 1
                    opponentWins: 0
                    totalMatches: 1
                    outcome: WIN
                    matchIds:
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000009
                  - playSessionId: 7c8d9e0f-1a2b-4c3d-8e4f-000000000002
                    businessDate: '2026-07-07'
                    league:
                      id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                      name: Liga da Terça
                    venue:
                      id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                      name: Bar do Zé
                    myWins: 2
                    opponentWins: 1
                    totalMatches: 3
                    outcome: WIN
                    matchIds:
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000021
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000024
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000026
                  - playSessionId: 7c8d9e0f-1a2b-4c3d-8e4f-000000000003
                    businessDate: '2026-06-30'
                    league:
                      id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                      name: Liga da Terça
                    venue:
                      id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                      name: Bar do Zé
                    myWins: 0
                    opponentWins: 2
                    totalMatches: 2
                    outcome: LOSS
                    matchIds:
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000031
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000032
                  - playSessionId: 7c8d9e0f-1a2b-4c3d-8e4f-000000000004
                    businessDate: '2026-06-23'
                    league:
                      id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                      name: Ranking do Bar do Zé
                    venue:
                      id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                      name: Bar do Zé
                    myWins: 2
                    opponentWins: 0
                    totalMatches: 2
                    outcome: WIN
                    matchIds:
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000041
                      - 3f4a5b6c-7d8e-4f90-8a1b-000000000042
                meta:
                  totalItems: 4
                  pageSize: 20
                  hasMore: false
                  nextCursor: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /me/head-to-head/{userId}/leagues:
    get:
      operationId: getHeadToHeadLeagues
      summary: Ligas em comum com um adversário
      description: Popula o select de liga do head-to-head.
      tags:
        - Friendships
      parameters:
        - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: Ligas em comum.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          $ref: '#/components/schemas/Uuid'
                        name:
                          type: string
                        status:
                          $ref: '#/components/schemas/LeagueStatus'
                        matchesTogether:
                          type: integer
                  meta:
                    type: object
                    properties:
                      totalItems:
                        type: integer
              example:
                items:
                  - id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                    name: Liga da Terça
                    status: ACTIVE
                    matchesTogether: 6
                  - id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                    name: Ranking do Bar do Zé
                    status: ACTIVE
                    matchesTogether: 2
                meta:
                  totalItems: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /leagues:
    post:
      operationId: createLeague
      summary: Criar liga (conclusão do wizard de 3 passos)
      description: |
        Em **uma transação**: `League` + regras + calendário + `LeagueMember(OWNER)` +
        `RankingEntry` zerada + (opcional) código de convite + N convites nominais.
        Se `durationType = ONE_DAY`, a jogatina do dia já é aberta (RN-LEAGUE-016).

        A liga é válida com **1 membro** — o wizard diz "comece sozinho e convide depois".
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeagueRequest'
            examples:
              wizard:
                summary: Payload completo do wizard
                value:
                  name: Liga da Terça
                  visibility: PRIVATE
                  venueId: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                  durationType: SIX_MONTHS
                  startsAt: '2026-07-28'
                  gameMode: ONE_VS_ONE
                  schedule:
                    weekdays:
                      - TUESDAY
                      - FRIDAY
                    startTime: '20:00'
                    endTime: '00:00'
                    timezone: America/Sao_Paulo
                    reminderMinutesBefore: 60
                  rules:
                    trackPocketedBalls: true
                    trackFouls: false
                    ballsCount: 8
                    correctionWindowHours: 24
                  inviteUserIds:
                    - 22222222-2222-4222-8222-222222222222
                    - 33333333-3333-4333-8333-333333333333
                    - 44444444-4444-4444-8444-444444444444
                    - 55555555-5555-4555-8555-555555555555
                  generateInviteCode: true
              minimal:
                summary: Mínimo aceito
                value:
                  name: Sinuca de sábado
                  durationType: ONE_DAY
      responses:
        '201':
          description: Liga criada.
          headers:
            Location:
              $ref: '#/components/headers/Location'
            ETag:
              $ref: '#/components/headers/ETag'
            Idempotent-Replay:
              $ref: '#/components/headers/IdempotentReplay'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'
              example:
                id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                name: Liga da Terça
                description: null
                visibility: PRIVATE
                status: ACTIVE
                gameMode: ONE_VS_ONE
                durationType: SIX_MONTHS
                startsAt: '2026-07-28'
                endsAt: '2027-01-28'
                owner:
                  id: 11111111-1111-4111-8111-111111111111
                  username: baroni
                  displayName: Rodrigo Baroni
                  avatarUrl: null
                  initials: RB
                  avatarColor: '#C1E778'
                venue:
                  id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                  name: Bar do Zé
                  addressLine: R. Domingos de Morais, 1234
                  neighborhood: Vila Mariana
                  city: São Paulo
                  state: SP
                  latitude: -23.561414
                  longitude: -46.655881
                  status: ACTIVE
                venueLabel: null
                schedule:
                  weekdays:
                    - TUESDAY
                    - FRIDAY
                  startTime: '20:00'
                  endTime: '00:00'
                  crossesMidnight: true
                  timezone: America/Sao_Paulo
                  reminderMinutesBefore: 60
                  humanReadable: Terças e sextas, 20h–00h
                rules:
                  trackPocketedBalls: true
                  trackFouls: false
                  ballsCount: 8
                  requireOpponentConfirmation: false
                  correctionWindowHours: 24
                  minMatchesForRanking: 0
                  tiebreakerOrder:
                    - WIN_RATE
                    - WINS
                    - FEWER_LOSSES
                    - HEAD_TO_HEAD
                    - JOINED_AT
                  locked: false
                  lockedAt: null
                counters:
                  membersCount: 1
                  matchesCount: 0
                  sessionsCount: 0
                nextSessionAt: '2026-07-28T23:00:00Z'
                lastActivityAt: null
                currentSession: null
                myMembership:
                  role: OWNER
                  status: ACTIVE
                  joinedAt: '2026-07-27T19:10:00Z'
                myRanking:
                  position: 1
                  wins: 0
                  losses: 0
                  winRate: 0
                permissions:
                  canEdit: true
                  canFinish: true
                  canDelete: true
                  canInvite: true
                  canGenerateCode: true
                  canManageMembers: true
                  canLeave: false
                  canStartMatch: true
                inviteCode:
                  code: TERCA-7K9M
                  shareUrl: https://encacapei.com.br/j/TERCA-7K9M
                  deepLink: encacapei://join?code=TERCA-7K9M
                  leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                  maxUses: null
                  usesCount: 0
                  expiresAt: '2026-08-03T19:10:00Z'
                  createdAt: '2026-07-27T19:10:00Z'
                invitationsSent: 4
                createdAt: '2026-07-27T19:10:00Z'
                updatedAt: '2026-07-27T19:10:00Z'
                version: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /leagues/public:
    get:
      operationId: searchPublicLeagues
      summary: Buscar ligas públicas
      description: |
        Busca full-text em ligas `PUBLIC` e `ACTIVE`. Ligas `PRIVATE` **nunca**
        aparecem, mesmo por nome exato (RN-LEAGUE-013).
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - name: venueId
          in: query
          schema:
            type: string
            format: uuid
        - name: lat
          in: query
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: radiusKm
          in: query
          schema:
            type: number
            minimum: 0.1
            maximum: 50
            default: 10
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - relevance
              - membersCount
              - lastActivityAt
              - distance
            default: relevance
      responses:
        '200':
          description: Ligas públicas encontradas.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicLeagueListItem'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaCursor'
              example:
                items:
                  - id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                    name: Ranking do Bar do Zé
                    description: Todo mundo é bem-vindo, sexta à noite.
                    status: ACTIVE
                    visibility: PUBLIC
                    gameMode: ONE_VS_ONE
                    venue:
                      id: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                      name: Bar do Zé
                      neighborhood: Vila Mariana
                      city: São Paulo
                      distanceKm: 2.4
                    owner:
                      id: 33333333-3333-4333-8333-333333333333
                      username: felipao
                      displayName: Felipe Costa
                      initials: FE
                      avatarColor: '#f4a261'
                    counters:
                      membersCount: 8
                      matchesCount: 61
                    scheduleSummary: Sextas, 21h–01h
                    nextSessionAt: '2026-07-31T00:00:00Z'
                    alreadyMember: true
                    canJoin: false
                    joinPolicy: OPEN
                meta:
                  totalItems: 1
                  pageSize: 20
                  hasMore: false
                  nextCursor: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /leagues/join-by-code:
    post:
      operationId: joinLeagueByCode
      summary: Entrar em liga por código de convite
      description: |
        O código é normalizado para maiúsculas. Cada estado inválido tem seu próprio
        código de erro (`INVITE_CODE_EXPIRED`, `_REVOKED`, `_EXHAUSTED`), para o app
        dar a mensagem certa (RN-INVITE-009).
      tags:
        - Leagues
        - Invitations
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinByCodeRequest'
            examples:
              lowercase:
                summary: Aceita minúsculas
                value:
                  code: terca-7k9m
      responses:
        '201':
          description: Entrou na liga.
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinLeagueResponse'
              example:
                leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000001
                leagueName: Liga da Terça
                membership:
                  role: PLAYER
                  status: ACTIVE
                  joinedAt: '2026-07-28T14:10:00Z'
                  joinedVia: INVITE_CODE
                ranking:
                  position: 6
                  wins: 0
                  losses: 0
                  winRate: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /leagues/{leagueId}:
    get:
      operationId: getLeague
      summary: Consultar detalhes da liga
      description: |
        Membros recebem o recurso completo. Em liga `PUBLIC`, não-membros recebem uma
        visão resumida com `canJoin: true`. Em liga `PRIVATE` sem vínculo, `404`.

        `permissions` é calculado pelo servidor — o app não reimplementa autorização.
        `rules.locked = true` indica que os campos de jogo devem estar desabilitados na UI.
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - name: include
          in: query
          schema:
            type: string
          example: currentSession
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Detalhes da liga.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'
        '304':
          $ref: '#/components/responses/NotModified'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateLeague
      summary: Editar liga
      description: |
        Requer `ADMIN` ou `OWNER`. Após a **primeira partida finalizada**, `gameMode`
        e as regras de marcação tornam-se imutáveis (`409 LEAGUE_RULES_LOCKED`,
        RN-LEAGUE-009). Também é este endpoint que atrela/desatrela um local
        (`venueId` / `null`).
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/IfMatch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeagueRequest'
            examples:
              config:
                summary: Salvar aba Config
                value:
                  name: Liga da Terça
                  venueId: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
                  rules:
                    trackFouls: true
              attachVenue:
                summary: Atrelar liga a um local
                value:
                  venueId: 5e6f7a8b-9c0d-4e1f-8a2b-000000000001
              detachVenue:
                summary: Desatrelar local
                value:
                  venueId: null
      responses:
        '200':
          description: Liga atualizada.
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
    delete:
      operationId: deleteLeague
      summary: Excluir liga
      description: |
        Somente `OWNER` e somente se a liga **nunca** teve partida finalizada
        (`409 LEAGUE_HAS_HISTORY`). Caso contrário, use `POST /finish`.
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/IfMatch'
      responses:
        '204':
          description: Liga excluída.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
  /leagues/{leagueId}/finish:
    post:
      operationId: finishLeague
      summary: Encerrar liga
      description: |
        Somente `OWNER`. **Congela o ranking final**, fecha jogatinas, cancela
        partidas em aberto (com `force`), expira convites, revoga códigos e notifica
        os membros.
      tags:
        - Leagues
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/IfMatch'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinishLeagueRequest'
            examples:
              finish:
                value:
                  reason: Fim do semestre
                  force: false
      responses:
        '200':
          description: Liga encerrada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinishLeagueResponse'
              example:
                id: 0a1b2c3d-4e5f-4a6b-8c7d-000000000003
                name: Copa Fim de Ano
                status: FINISHED
                finishedAt: '2026-07-27T19:20:00Z'
                finishedBy:
                  id: 11111111-1111-4111-8111-111111111111
                  username: baroni
                  displayName: Rodrigo Baroni
                  initials: RB
                  avatarColor: '#C1E778'
                finalRanking:
                  frozenAt: '2026-07-27T19:20:00Z'
                  champion:
                    userId: 33333333-3333-4333-8333-333333333333
                    displayName: Felipe Costa
                    wins: 12
                    losses: 6
                    winRate: 66.67
                  entriesCount: 6
                sideEffects:
                  sessionsClosed: 0
                  matchesCancelled: 0
                  invitationsExpired: 2
                  inviteCodesRevoked: 1
                version: 12
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '428':
          $ref: '#/components/responses/PreconditionRequired'
  /leagues/{leagueId}/join:
    post:
      operationId: joinLeague
      summary: Entrar em liga pública
      description: |
        Entrada direta quando `joinPolicy = OPEN`. Se a liga exigir aprovação
        (`DP-006`), responde `202` com solicitação pendente.
      tags:
        - Leagues
        - LeagueMembers
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Membro criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JoinLeagueResponse'
              example:
                leagueId: 0a1b2c3d-4e5f-4a6b-8c7d-000000000002
                leagueName: Ranking do Bar do Zé
                membership:
                  role: PLAYER
                  status: ACTIVE
                  joinedAt: '2026-07-27T19:30:00Z'
                  joinedVia: PUBLIC_JOIN
                ranking:
                  position: 9
                  wins: 0
                  losses: 0
                  winRate: 0
        '202':
          description: Solicitação de entrada pendente de aprovação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: PENDING_APPROVAL
                  requestId:
                    $ref: '#/components/schemas/Uuid'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /leagues/{leagueId}/leave:
    post:
      operationId: leaveLeague
      summary: Sair da liga
      description: |
        O `OWNER` precisa **transferir a propriedade** antes de sair
        (`409 OWNER_MUST_TRANSFER`, com `eligibleSuccessors[]`). Se for o único
        membro, sair encerra a liga. O histórico de partidas é preservado.
      tags:
        - LeagueMembers
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
      responses:
        '200':
          description: Era o único membro — a liga foi encerrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  leagueFinished:
                    type: boolean
              example:
                leagueFinished: true
        '204':
          description: Saiu da liga.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /leagues/{leagueId}/members:
    get:
      operationId: listLeagueMembers
      summary: Listar membros da liga
      description: |
        Também alimenta a **seleção de adversário**: com
        `include=sessionStats&playSessionId=…`, cada membro traz `sessionStats.wins`,
        que é o "**N vitórias hoje**" da tela.
      tags:
        - LeagueMembers
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/SearchQuery'
        - name: status
          in: query
          schema:
            type: string
            default: ACTIVE
        - name: role
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - displayName
              - -displayName
              - joinedAt
              - -joinedAt
              - role
            default: displayName
        - name: include
          in: query
          schema:
            type: string
          example: sessionStats
        - name: playSessionId
          in: query
          description: Contexto para `sessionStats`.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Membros da liga.
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                  - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeagueMember'
                  meta:
                    $ref: '#/components/schemas/PaginationMetaOffset'
              example:
                items:
                  - userId: 11111111-1111-4111-8111-111111111111
                    username: baroni
                    displayName: Rodrigo Baroni
                    avatarUrl: null
                    initials: RB
                    avatarColor: '#C1E778'
                    role: OWNER
                    status: ACTIVE
                    joinedAt: '2026-01-14T22:10:00Z'
                    joinedVia: CREATOR
                    ranking:
                      position: 2
                      wins: 7
                      losses: 4
                      winRate: 63.64
                    sessionStats:
                      wins: 3
                      losses: 0
                      matchesPlayed: 3
                      position: 1
                    isMe: true
                    canBeRemoved: false
                    canChangeRole: false
                  - userId: 33333333-3333-4333-8333-333333333333
                    username: felipao
                    displayName: Felipe Costa
                    avatarUrl: https://cdn.encacapei.com.br/avatars/33333333-3333-4333-8333-333333333333/256.webp
                    initials: FE
                    avatarColor: '#f4a261'
                    role: ADMIN
                    status: ACTIVE
                    joinedAt: '2026-01-15T18:05:00Z'
                    joinedVia: INVITATION
                    ranking:
                      position: 1
                      wins: 8
                      losses: 2
                      winRate: 80
                    sessionStats:
                      wins: 3
                      losses: 1
                      matchesPlayed: 4
                      position: 2
                    isMe: false
                    canBeRemoved: true
                    canChangeRole: true
                  - userId: 22222222-2222-4222-8222-222222222222
                    username: joaop
                    displayName: João Pereira
                    avatarUrl: https://cdn.encacapei.com.br/avatars/22222222-2222-4222-8222-222222222222/256.webp
                    initials: JO
                    avatarColor: '#8ecae6'
                    role: PLAYER
                    status: ACTIVE
                    joinedAt: '2026-01-15T18:02:00Z'
                    joinedVia: INVITATION
                    ranking:
                      position: 3
                      wins: 5
                      losses: 4
                      winRate: 55.56
                    sessionStats:
                      wins: 2
                      losses: 1
                      matchesPlayed: 3
                      position: 3
                    isMe: false
                    canBeRemoved: true
                    canChangeRole: true
                  - userId: 44444444-4444-4444-8444-444444444444
                    username: ander
                    displayName: Anderson Lima
                    avatarUrl: null
                    initials: AN
                    avatarColor: '#e9c46a'
                    role: PLAYER
                    status: ACTIVE
                    joinedAt: '2026-01-20T19:44:00Z'
                    joinedVia: INVITE_CODE
                    ranking:
                      position: 5
                      wins: 3
                      losses: 7
                      winRate: 30
                    sessionStats:
                      wins: 0
                      losses: 6
                      matchesPlayed: 6
                      position: 4
                    isMe: false
                    canBeRemoved: true
                    canChangeRole: true
                  - userId: 55555555-5555-4555-8555-555555555555
                    username: marcao
                    displayName: Marcos Silva
                    avatarUrl: null
                    initials: MA
                    avatarColor: '#c8b6ff'
                    role: PLAYER
                    status: ACTIVE
                    joinedAt: '2026-02-03T20:11:00Z'
                    joinedVia: INVITATION
                    ranking:
                      position: 4
                      wins: 4
                      losses: 6
                      winRate: 40
                    sessionStats:
                      wins: 0
                      losses: 0
                      matchesPlayed: 0
                      position: 5
                    isMe: false
                    canBeRemoved: true
                    canChangeRole: true
                meta:
                  totalItems: 5
                  page: 1
                  pageSize: 50
                  totalPages: 1
                  hasMore: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /leagues/{leagueId}/members/{userId}:
    patch:
      operationId: changeMemberRole
      summary: Alterar papel de membro
      description: |
        Exclusivo do `OWNER`. Promover alguém a `OWNER` **rebaixa o dono atual a
        `ADMIN`** numa transação atômica — a liga sempre tem exatamente um dono,
        garantido por unique constraint parcial no banco.
      tags:
        - LeagueMembers
      parameters:
        - $ref: '#/components/parameters/LeagueIdPath'
        - $ref: '#/components/parameters/UserIdPath'
        - $ref: '#/components/parameters/IfMatchOptional'
      requestBody:
        required: true
        content:
[...]
